<div id="<%= dom_id person %>">
  <!--hover to load turbo frame-->
  <div class="hoverWrapper">
    <%= person.first_name %>
    <%= person.last_name %>
    <br>
    <span role="button" aria-describedby="<%= dom_id(person, :hovercard) %>">
      Details...
    </span>
    <div id="hoverContent">
      <%= turbo_frame_tag dom_id(person, :hovercard), target: "_top", role: "tooltip", src: hovercard_person_path(person), loading: :lazy do %>
        Loading...
      <% end %>
    </div>
  </div>

  <!--click to load turbo frame-->
<!--  <details>-->
<!--    <summary>-->
<!--      <strong class="block font-medium mb-1">First name:</strong>-->
      <%#= person.first_name %>
<!--      <strong class="block font-medium mb-1">Last name:</strong>-->
      <%#= person.last_name %>
<!--    </summary>-->
    <%#= turbo_frame_tag dom_id(person, :thumbnail), target: "_top", loading: :lazy, src: hovercard_person_path(person) do %>
<!--      Loading...-->
    <%# end %>
<!--  </details>-->

</div>
